<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joelromanpr.loki">

    <application>
        <activity
            android:name=".PasscodeSetupActivity"
            android:label="@string/passcode_setup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PasscodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SystemLockActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>

</manifest>